* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");
.logo {
  display: flex;
}
.navbar {
  height: 100px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  margin: 0;
}
.navbar-scrolled {
  background-color: rgb(255, 255, 255);
  transition: all 0.5s;
}
.navbar-scrolled a {
  color: black;
}
.navbar-scrolled .fie {
  color: black;
}

.poul {
  margin-left: 30px;
  margin-right: 10px;
  color: orange;
}
ul {
  display: flex;
  align-items: center;
  list-style: none;
}

li {
  margin-left: 8rem;
  list-style-type: none;
  font-size: 1.3rem;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: orange;
}

.search {
  display: flex;
  align-items: center;
  margin-left: 18rem;
}
input {
  border-radius: 5rem;
  border: none;
  padding: 8px;
  font-size: 18px;
  outline: none;
  background-color: #f7f7f9;
}
.search-bar::-webkit-input-placeholder {
  /* Chrome, Safari, Opera */
  padding-left: 15px;
}
.btn {
  margin-left: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.fie {
  color: white;
}
.btn:hover {
  background-color: orange;
}

.hero-text {
  position: relative;
  margin-top: 20rem;
  margin-left: 12rem;
}
p {
  color: grey;
  font-size: 1.2rem;
}

.hero-h1 {
  color: white;
  font-size: 6rem;
}

.btn2 {
  background-color: rgb(245, 172, 37);
  padding: 20px 18px;
  font-size: 1.8rem;
  color: white;
  border: none;
  border-radius: 5rem;
  align-items: center;
  justify-content: center;
}

.img1 {
  position: absolute;
  object-fit: cover;
  width: 100%;
}
.about {
  position: relative;
  margin-top: 20rem;
  padding: 10rem;
}

.about-image {
  float: left;
  object-fit: cover;
  width: 44%;
  border-radius: 15px;
  margin-right: 5rem;
  margin: 0 35px 35px 0;
}

.about-details {
  margin-top: 1rem;
}

.about-h1 {
  margin-top: 3rem;
  font-size: 64px;
}

.about-p {
  margin-top: 2.5rem;
  font-size: 1.3rem;
}

.about-btn {
  margin-top: 3rem;
}
.services {
  background-color: #f7f7f9;
}

.services-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-header p {
  margin-top: 10rem;
}

.services-header h1 {
  margin-top: 2rem;
  font-size: 3rem;
}
.cards {
  width: 400px;
  height: 450px;
  background-color: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

.cards-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-content h1 {
  margin: 30px 0 10px 0;
  font-size: 30px;
  font-weight: bold;
}

.cards-content i {
  margin: 30px 0 0 0;
  font-size: 55px;
  font-weight: bold;
  color: #ff7800;
  background-color: #f7f7f9;
  padding: 30px;
  border-radius: 5rem;
  align-items: center;
}

.cards-content i:hover {
  color: white;
  background-color: #ff7800;
  cursor: pointer;
}

.cards-content p {
  margin: 30px 0 0 0;
  font-size: 20px;
}

.three-cards {
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mt {
  margin-top: 10rem;
}

.white {
  background-color: white;
}

.mt-5 {
  margin-top: 0.5rem;
}

.pb-5 {
  padding-bottom: 10rem;
}

.invention {
  margin-left: 9rem;
  padding-bottom: 2rem;
  height: 60vh;
}
.invention h1 {
  font-size: 64px;
}
.invention p {
  width: 40%;
  margin-top: 20px;
}

.invention-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.invention-features {
  float: right;
}
.invention-features h1 {
  font-size: 35px;
}

.invention-about {
  margin: -18rem -10rem 0 -10rem;
  background-color: #f7f7f9;
  padding: 10px;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
}

.invention-texts {
  display: flex;
  flex-direction: column;
}

.invention-2 {
  margin-top: 100rem;
}
.invention-logo {
  float: left;
  /* border-radius: 5rem;
  background-color: #fff;
  padding: 40px;
  font-size: 40px; */
  margin-right: 3rem;
}

.invention-logo i {
  /* float: left; */
  border-radius: 5rem;
  background-color: #fff;
  padding: 40px;
  font-size: 40px;
  color: #ff7800;
  /* margin-right: 3rem; */
}

.invention-two {
  margin-top: 20rem;
}

/* .invention-about :hover {
  color: white;
  background-color: #ff7800;
  cursor: pointer;
  transition: 300ms all;
} */

/* .invention-logo i:hover {
  color: white;
  background-color: #ff7800;
  cursor: pointer;
  transition: 300ms all ease-in-out;
} */
